<div
  *ngrxLet="{
    averagesById: averagesById$,
    averagesBySubject: averagesBySubject$,
    ids: ids$,
    subjects: subjects$,
  } as observables"
  cdkDropList
  class="charts-container"
  (cdkDropListDropped)="drop($event)"
>
  @for (chart of charts; track chart.heading; let i = $index) {
    @if (observables[chart.categoriesSelector].length) {
      <app-chart
        cdkDrag
        [heading]="chart.heading"
        [categories]="observables[chart.categoriesSelector]"
        [data]="observables[chart.dataSelector]"
        [showChart]="i < charts.length - 1"
      />
    }
  }
</div>
